{% extends "layouts/manager.twig" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}


{% block content %}
  

  <fieldset>
	{{ Form.open({'method': 'get'}) }}

	<legend>Filter Venues</legend> 
	<p>
	    <div class="input-prepend input-append">
	        <span class="add-on"><b class="icon-list-alt"></b></span>
	        <select class="venue-filter" name="filter[regions][]" multiple="multiple" data-title="Collections">
	            {% for region in regions %}
	            <option value="{{ region.id }}" {% if region.id in Input.get('filter.regions') %}selected="selected"{% endif %}>
	             	{{ region.name }}
	            </option>
	            {% endfor %} 
	        </select>
	        <select class="venue-filter" name="filter[datatypes][]" multiple="multiple" data-title="Datatypes">
	            {% for datatype in datatypes %}
	            <option value="{{ datatype.id }}" {% if datatype.id in Input.get('filter.datatypes') %}selected="selected"{% endif %}>
	             	{{ datatype.name }}
	            </option>
	            {% endfor %} 
	        </select> 
	        {{ Form.input('filter[q]', Input.get('filter.q'), {'placeholder': 'Venue name'}) }}
	        <button type="submit" class="btn btn-primary">Search</button>
	    </div>
	</p>

	{{ Form.close() }}
</fieldset>	



{{ Form.open({'action': 'manager/dashboard/chart', 'method': 'post'}) }}
 
<div class="clearfix"> 
	<button type="submit" style="margin-top: 25px; margin-right: 255px; float: right;" class="btn btn-primary">Compare selected</button>
	{{ pagination }}  
</div>
 


<table class="table table-hover">
    {% for venue in venues %}
        <tr>
        	<td>{{ venue.id }}</td>
        	<th>{{ venue.name|e }}</th>

        	<td>{{ venue.street }}</td> 
        	<td>{{ venue.postalCode }}</td> 
        	<td>{{ venue.city }}</td>
        	<td>{{ venue.checkin }}</td>
        	<td>{{ venue.photos }}</td>
        	<td>{{ venue.photos }}</td>

			<td>
				<div class="switch">
	    			<input type="checkbox" name="ids[]" class="checkbox" value="{{ venue.id }}" /> 
	    			{{ Form.hidden('labels[]', venue.name ) }}
	    			{{ Form.hidden('_ids[]', venue.id ) }}
				</div>
			</td>		
			<td>
				<a class="btn btn-small btn-primary" href="/dashboard/chart/location/{{ venue.id }}">Show report</a>
				<a class="btn btn-small" href="/dashboard/instagramlocation/{{ venue.id }}">Recent pictures</a> 
			</td>


        </tr>
    {% endfor %}

</table>
 
<div class="clearfix"> 
	<button type="submit" style="margin-top: 25px; margin-right: 255px; float: right;" class="btn btn-primary">Compare selected</button>
	{{ pagination }}  
</div>

{{ Form.close() }}
 
 
{% endblock %}
    

{% block scripts %} 
    {{ parent() }}
 
<script type="text/javascript">
$(function() { 
        $('.venue-filter').multiselect({
            buttonContainer: '<span class="dropdown" />',
			buttonText: function(options) { 
		        if (options.length == 0) {
		          return $(options.context).data('title') + ' <b class="caret"></b>';
		        }
		        else if (options.length > 1) {
		          return options.length + ' '+$(options.context).data('title')+' selected  <b class="caret"></b>';
		        }
		        else {
		          var selected = $(options.context).data('title')+': ';
		          options.each(function() {
		            selected += $(this).text() + ', ';
		          });
		          return selected.substr(0, selected.length -2) + ' <b class="caret"></b>';
		        }
		    }            
        });
});

</script>
{% endblock %}
