{% extends "layouts/manager.twig" %}

{% block title %} Add Keyword{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}


{% block content %}


  <fieldset>
	{{ Form.open() }}

    <legend>Add Keyword</legend>
  
		<p>
			<label>Keyword</label>
			{{ Form.input('keyword', '', {'style': ''}) }}
		</p>

		<p>
			{{ Form.button('submitter', 'Save', {'type': 'submit', 'class': 'btn btn-primary'}) }}
		</p>

	{{ Form.close() }}
</fieldset>



 
{% endblock %}
    

{% block scripts %} 
    {{ parent() }}

	</script>
{% endblock %}
